@import '~antd/dist/reset.css';

body {
  text-align: center;
}

.btn-group > button {
  margin: 0 1em !important;
}

.list-item-left {
  display: flex;
  align-items: center;
}

.list-item-description {
  margin-left: 1em;
  margin-bottom: 0;
}

.description-input {
  margin-left: 1em;
}

.creation-form {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.hd-complete-check-wrapper {
  margin: 1em;
  text-align: left;
}

.ant-checkbox-wrapper {
  color: black;
}

.ant-checkbox-inner {
  background-color: green;
  border-color: green;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: green;
  border-color: green;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
  border: 2px solid white;
  border-top: 0;
  border-left: 0;
  transform: rotate(45deg);
  content: '';
  position: absolute;
  top: 50%;
  left: 25%;
  height: 10px;
  width: 5px;
  transform: rotate(45deg) translate(-50%, -50%);
  background-color: transparent;
}

.custom-notification {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.custom-notification .ant-notification-notice {
  display: flex;
  align-items: center;
  padding: 16px;
}

.custom-notification .ant-notification-notice-icon {
  margin-right: 16px;
}

.custom-notification .custom-icon {
  font-size: 24px;
  color: red;
  position: fixed;
  top: 10px;
  left: 10px;
}
